{% load thumbnail static %}
{% with thumbnail_size=size|default:"32" %}
{% thumbnail user.image thumbnail_size|add:"x"|add:thumbnail_size format="PNG" crop="center" as avatar %}
<img src="{{ avatar.url }}"
     width="{{ avatar.width }}"
     height="{{ avatar.height }}"
     alt="{{ user.username }}"
     class="bg-transparent rounded-full {{ css_class }}">
{% empty %}
<img src="{% static 'smiley-cyrus.jpg' %}"
     alt="{{ user.username }}"
     height="{{ thumbnail_size }}"
     width="{{ thumbnail_size }}"
     class="bg-transparent rounded-full {{ css_class }}">
{% endthumbnail %}
{% endwith %}
