  <div class="border rounded mb-3"
       id="comment-{{ comment.id }}">
    <div class="p-3 markdown-content">{{ comment.as_markdown }}</div>

    <div class="bg-gray-100 p-3 flex items-center justify-between">
      <div class="flex items-center">
        <a href="{{ comment.author.get_absolute_url }}"
           data-turbo-frame="_top"
           class="mr-2 text-blue-800 hover:text-blue-600">{{ comment.author }}</a>
        <span class="text-sm text-gray-600">
          {{ comment.created|date }}
        </span>
      </div>
      {% if user == comment.author %}
      <form method="post"
            action="{% url 'articles:delete_comment' comment.id %}"
            data-controller="confirm"
            data-confirm-text-value="Are you sure you want to delete this comment?"
            data-action="confirm#confirm">
        {% csrf_token %}
        <button class="hover:text-gray-500">
          <svg aria-hidden="true"
               focusable="false"
               data-prefix="fas"
               data-icon="trash"
               class="h-4 w-4 mr-1"
               role="img"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 448 512">
            <path fill="currentColor"
                  d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"></path>
          </svg>

        </button>
      </form>
      {% endif %}

    </div>
  </div>
