{% spaceless %}

{% load static %}
{% load i18n %}

{% endspaceless %}

<!DOCTYPE html>
{% get_current_language as language_code %}
<html lang="{{ language_code }}">

<head>
  <title>
    {% spaceless %}{% block title %}Conduit{% endblock %}{% endspaceless %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control"
        content="no-cache">
  <meta name="copyright"
        content="Dan Jacob {% now "Y" %}">
  <meta name="robots"
        content="index,follow">

  {% include "_static.html" %}

</head>

<body class="h-screen container-lg mx-auto antialiased bg-gray-100">


  {% block header %}

  <header class="bg-gradient-to-b from-indigo-900 to-indigo-700 text-white">
    <div class="flex items-center justify-between p-2 md:px-12">
      <div class="flex items-center flex-shrink-0 mr-6 text-lg">
        <a href="/">Conduit</a>
      </div>

      {% if user.is_authenticated %}
      <div class="flex items-center">
        <a href="{% url 'articles:create' %}"
           class="mr-3 flex items-center">
          <svg aria-hidden="true"
               focusable="false"
               data-prefix="fas"
               data-icon="pen"
               class="h-4 w-4 mr-1"
               role="img"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512">
            <path fill="currentColor"
                  d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"></path>
          </svg>
          {% translate "New Article" %}
        </a>

        <a href="{% url 'account:settings' %}"
           class="mr-3 flex items-center">
          <svg aria-hidden="true"
               focusable="false"
               data-prefix="fas"
               data-icon="cog"
               class="h-4 w-4 mr-1"
               role="img"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512">
            <path fill="currentColor"
                  d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"></path>
          </svg>
          {% translate "Settings" %}
        </a>

        <form method="post"
              action="{% url 'account:logout' %}"
              class="inline-block">
          {% csrf_token %}
          <button class="text-white hover:text-gray-300">{% translate "Logout" %}</button>
        </form>
      </div>
      {% else %}
      <div>
        <a href="{% url 'account:login' %}"
           class="inline-block text-white hover:text-gray-100 mr-2">{% translate "Login" %}</a>
        <a href="{% url 'account:signup' %}"
           class="inline-block text-white hover:text-gray-100">{% translate "Signup" %}</a>
      </div>
      {% endif %}
    </div>

  </header>
  {% endblock header %}

  {% include "_messages.html" %}
  {% include "_cookie_notice.html" %}

  <div class="min-h-full mx-auto p-2 md:px-12">
    {% block content %}{% endblock %}
  </div>
  {% include "_footer.html" %}

</body>

</html>
